#banner {
    background: #ccc url("../../public/imgs/banner_xl.png") center / cover no-repeat;
    width: calc(100vw - 16.6px);
    height: 559px;
    margin: 0 auto 0 0;
}

@media screen and (max-width:576px) {
    #banner {
        background-image: url("../../public/imgs/banner_mobile.png");
        margin: 0 auto;
        width: 100vw;
    }
}

@media screen and (max-width:922px) {
    #banner {
        background-image: url("../../public/imgs/banner_lg.png");
        margin: 0 auto;
        width: 100vw !important;
    }
}

@media screen and (max-width:1200px) {
    #banner {
        background-image: url("../../public/imgs/banner_lg.png");
        margin: 0 auto !important;
    }
}

#banner h2 {
    color: #FFFFFF;
    margin-bottom: 16px;
    font-size: 3rem;
    text-align: center;
    font-weight: 700;
}

#banner p {
    color: #FFFFFF;
    margin-bottom: 32px;
    font-size: 1.5rem;
}