#banner {

    background-image: url("../../public/imgs/HeroSectionSmall.png");
    width: 100vw;
    height: 559px;
    background-position: center;
    background-attachment: cover;
    background-repeat: no-repeat;
}

@media screen and (min-width:1600px) {
    #banner {
        background-image: url("../../public/imgs/HeroSection.png");
        
    }

}

#banner h2{
    color: #FFFFFF;
    margin-bottom: 16px;
    font-size: 3rem;
    text-align: center;
    font-weight: 700;
}
#banner p{
    color: #FFFFFF;
    margin-bottom: 32px;
    font-size: 1.5rem;
}