.btn {
  background-color: #87FAD1 !important;
  color: #323232 !important;
  font-weight: 600 !important;
  border: 1px solid #87FAD1 !important;
  white-space: nowrap;
  transition: all .25s ease-out !important;
}

.btn.dark {
  background-color: #1C2331 !important;
  border: 1px solid #1C2331 !important;
  color: #87FAD1 !important;
}

.btn:hover {
  background-color: #63d4ac !important;
  border: 1px solid #63d4ac !important;
}

.btn.dark:hover {
  background-color: #283040 !important;
  border: 1px solid #283040 !important;

}

.loading {
  background-color: #aaa !important;
  border: 1px solid #aaa !important;
  cursor: wait !important;
}