.divDropdown {
  max-width: 90vw;
  margin: 0 auto;
}

.btnDropdown {
  height: 58px;
  background-color: #fff;
  color: #1C2331;
  transition: all .25s ease-out;
}

.btnDropdown:hover {
  background-color: #ddd;
  color: #1C2331;
}

.divDropdown h4 {
  font-weight: 700;
}