.divHeader {
  background-color: #1C2331;
}

.divInside {
  padding: 8px 0;
}

.divInside img {
  max-height: 48px;
}

.divInside ul {
  gap: 64px;
  margin: 0;
}

@media screen and (max-width: 576px) {
  .divInside ul {
    gap: 24px;
  }
}

.divInside ul li a {
  color: #fff;
  text-decoration: none;
}

.dropdown {
  background-color: transparent !important;
  border: unset;
  border: 1px solid transparent !important;
  transition: all .25s ease-out;
}

.dropdown:hover,
.dropdown:active {
  background-color: #87FAD1 !important;
}

.dropdown a {
  text-decoration: none;
}