.divMain h5 {
  font-weight: 600;
}

.divMain span {
  font-size: 1.5rem;
  font-weight: 700;
}

.divMain svg {
  cursor: pointer;
}

.inputPassengers {
  border: 0;
  background-color: transparent;
  width: 64px;
  text-align: center;
  font-size: 1.25rem;
  font-weight: 700;
  border-radius: 0;
  padding: 4px;
  border-bottom: 2px solid transparent !important;
  transition: all .25s ease-out;
}

.inputPassengers:focus {
  box-shadow: none !important;
  border-bottom: 2px solid #1C2331 !important;
}