#body {
    background: linear-gradient(139.21deg, #1D2432 20.65%, #2C4C8A 113.71%);
    color: #FFFFFF;
}

#body h2 {
    text-align: center;
    font-size: 3.5rem;
    padding-top: 68px;
    margin-bottom: 48px;
}

#logo {
    border-radius: 16px;
    background: #ccc url("../../public/imgs/logo_about.png") center/cover no-repeat;
    width: 100%;
    height: 750px;
}

#texto h3 {
    margin-bottom: 32px;
    font-size: 3.5rem;
    text-align: center;
}

#texto p {
    font-size: 1.25rem;

}

#texto p+p {
    margin-top: 24px;
}