.divMain a {
  text-decoration: none;
}

.divIcon {
  padding: 8px;
  background-color: #1C2331;
  border: 2px solid #87FAD1;
  padding: 16px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 12px;
  transition: all .25s ease-out;
}

.divMain:hover .divIcon {
  background-color: #10151F;
}

.divIcon img {
  width: 20px;
}

.divMain p {
  margin: 0;
  color: #10151F;
  font-weight: 700;
}

.divMain:hover p {
  color: #293243;
}