.section {
  background: linear-gradient(135.29deg, #1C2331 57.36%, #2C4D8E 112.56%);
  margin: 92px 0;
  padding: 64px 0;
}

.section h2 {
  color: #fff;
  font-size: 2.5rem;
  font-weight: 600;
  margin-bottom: 32px;
}

.section p {
  font-weight: 600;
  font-size: 2rem;
  max-width: 406px;
  color: #fff;
  margin-left: 16px;
}

.divImg {
  background: #ccc url(../../public/imgs/step1.png) center / cover;
  width: 440px;
  height: 165px;
  border-radius: 16px;
}

.divImg+.divImg {
  margin-top: 40px;
}