.section {
  margin: 92px auto 150px auto;
}

.divOrder {
  background-color: #fff;
  padding: 12px 24px;
  border-radius: 24px;
  border: 1px solid #ACB6C9;
}

.divOrder+.divOrder {
  margin-top: 32px;
}

.divAboutOrder {
  padding: 12px;
}

.divAboutOrder h3 {
  font-size: 1.15rem;
}

.divAboutOrder h3 span {
  font-weight: 700;
}

.qrLink {
  color: #00A3FF;
  border-bottom: 1px solid #00A3FF;
  transition: all .25s ease-out;
}

.qrLink:hover {
  color: #0F80C0;
  border-bottom: 1px solid #0F80C0;
}