body {
  background-color: #E9E9E9;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Montserrat', sans-serif;
}

p,
span,
li,
a {
  font-family: 'Open Sans', sans-serif;
}

/* ERROR */
.error-mensage {
  color: #ad1f1f;
  font-weight: 600;
  font-size: .9rem;
}

/* LOADING */
.btn-loading {
  background-color: #aaa !important;
  border: 1px solid #aaa !important;
  cursor: wait !important;
}

/* TEXTS */
.text-gray {
  color: #A3A3A3;
}

.text-green {
  background: linear-gradient(to right, #73E1BA, #2E8667);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.text-green-blue {
  background: linear-gradient(to right, #73E0BA, #00A3FF);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* LINKS */
.link-primary {
  color: #4E5E7C !important;
  cursor: pointer;
  transition: all .25s ease-out;
}

.link-primary:hover {
  color: #344360 !important;
}

/* DROPDOWN */
#dropdown-basic.show {
  background-color: #87FAD1 !important;
}

.dropdown-item:hover {
  background-color: #87FAD1;
  color: #000;
}

/* #body{
  background: linear-gradient(180deg, #1C2331 53.22%, #2C4D8E 100%);
} */


#dropdownBannerAdventure {
  border: 1px solid #ddd;
}

#dropdownBannerAdventure.show,
#dropdownModalitys.show button,
#dropdownBannerAdventure:active,
#dropdownModalitys button:active {
  background-color: #ddd !important;
  color: #1C2331;
}

#dropdown-orderby {
  border: 1px solid rgb(40, 48, 64);
  background-color: rgb(40, 48, 64);
  transition: all .25s ease-out;
}

#dropdown-orderby:hover {
  background-color: #374052;
  border: 1px solid #374052;
}

/* Tooltips */
.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
  /* If you want dots under the hoverable text */
}

/* Tooltip text */
.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: #555;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;

  /* Position the tooltip text */
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -60px;

  /* Fade in tooltip */
  opacity: 0;
  transition: opacity 0.3s;
}

/* Tooltip arrow */
.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}