h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Montserrat', sans-serif;
}

p,
span,
li,
a {
  font-family: 'Open Sans', sans-serif;
}

/* LINKS */
.link-primary {
  color: #4E5E7C !important;
  cursor: pointer;
  transition: all .25s ease-out;
}

.link-primary:hover {
  color: #344360 !important;
}

/* DROPDOWN */
#dropdown-basic.show {
  background-color: #87FAD1 !important;
}

.dropdown-item:hover {
  background-color: #87FAD1;
  color: #000;
}