body {
  background-color: #E9E9E9;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Montserrat', sans-serif;
}

p,
span,
li,
a {
  font-family: 'Open Sans', sans-serif;
}

/* ERROR */
.error-mensage {
  color: #ad1f1f;
  font-weight: 600;
  font-size: .9rem;
}

/* LOADING */
.btn-loading {
  background-color: #aaa !important;
  border: 1px solid #aaa !important;
  cursor: wait !important;
}

/* TEXTS */
.text-gray {
  color: #A3A3A3;
}

.text-green {
  background: linear-gradient(to right, #73E1BA, #2E8667);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.text-green-blue {
  background: linear-gradient(to right, #73E0BA, #00A3FF);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* LINKS */
.link-primary {
  color: #4E5E7C !important;
  cursor: pointer;
  transition: all .25s ease-out;
}

.link-primary:hover {
  color: #344360 !important;
}

/* DROPDOWN */
#dropdown-basic.show {
  background-color: #87FAD1 !important;
}

.dropdown-item:hover {
  background-color: #87FAD1;
  color: #000;
}

/* #body{
  background: linear-gradient(180deg, #1C2331 53.22%, #2C4D8E 100%);
} */


#dropdownBannerAdventure {
  border: 1px solid #ddd;
}

#dropdownBannerAdventure.show,
#dropdownModalitys.show button,
#dropdownBannerAdventure:active,
#dropdownModalitys button:active {
  background-color: #ddd !important;
  color: #1C2331;
}